@page "/Browsers"
<h3 xmlns="http://www.w3.org/1999/html">Браузеры</h3>

<div class="myConteiner">
    <div class="myCard">
        <div class="myCardHeader">
            <h1>Заголовок</h1>
        </div>
        <div class="myCardBody">
            <img src="image/яндекс.png"/>
        </div>
        <div class="myCardBottom">
            <div class="myCardBottom">
                <a href="https://ya.ru/" class="myBtn">Перейти</a>
            </div>
        </div>
    </div>
    <div class="myCard">
        <div class="myCardHeader">
            <h1>Заголовок</h1>
        </div>
        <div class="myCardBody">
            <img src="image/google.png"/>
        </div>
        <div class="myCardBottom">
            <div class="myCardBottom">
                <a href="https://www.google.com/intl/ru_ru/chrome/" class="myBtn">Перейти</a>
            </div>
        </div>
    </div>
    <div class="myCard">
        <div class="myCardHeader">
            <h1>Заголовок</h1>
        </div>
        <div class="myCardBody">
            <img src="image/Fox.png"/>
        </div>
        <div class="myCardBottom">
            <div class="myCardBottom">
                <a href="https://www.mozilla.org/ru/firefox/new/" class="myBtn">Перейти</a>
            </div>
        </div>
    </div>
</div>

@code {

}