@page "/FlexBox"
<h3 xmlns="http://www.w3.org/1999/html">FlexBox</h3>

<div class="myConteiner">
    <div class="myCard">
        <div class="myCardHeader">
            <h1>Заголовок</h1>
        </div>
        <div class="myCardBody">
            <img src="image/ютуб.png"/>
        </div>
        <div class="myCardBottom">
            <div class="myBtn">
                <button onclick="window.location.href='https://www.youtube.com';">Перейти</button>
            </div>
        </div>
    </div>
    <div class="myCard">
        <div class="myCardHeader">
            <h1>Заголовок</h1>
        </div>
        <div class="myCardBody">
            <img src="image/яндекс.png"/>
        </div>
        <div class="myCardBottom">
            <div class="myBtn">
                <button onclick="window.location.href='https://ya.ru/';">Перейти</button>
            </div>
        </div>
    </div>
    <div class="myCard">
        <div class="myCardHeader">
            <h1>Заголовок</h1>
        </div>
        <div class="myCardBody">
            <img src="image/авито.png"/>
        </div>
        <div class="myCardBottom">
            <div class="myBtn">
                <button onclick="window.location.href='https://www.avito.ru/';">Перейти</button>
            </div>
        </div>
    </div>
</div>

@code {
    
}