@page "/Games"
<h3 xmlns="http://www.w3.org/1999/html">Площадки для покупки и установки игр</h3>

<div class="myConteiner">
    <div class="myCard">
        <div class="myCardHeader">
            <h1>Заголовок</h1>
        </div>
        <div class="myCardBody">
            <img src="image/стим.png"/>
        </div>
        <div class="myCardBottom">
            <div class="myCardBottom">
                <a href="https://store.steampowered.com/?l=russian" class="myBtn">Перейти</a>
            </div>
        </div>
    </div>
    <div class="myCard">
        <div class="myCardHeader">
            <h1>Заголовок</h1>
        </div>
        <div class="myCardBody">
            <img src="image/епик геймс.png"/>
        </div>
        <div class="myCardBottom">
            <div class="myCardBottom">
                <a href="https://store.epicgames.com/ru/" class="myBtn">Перейти</a>
            </div>
        </div>
    </div>
    <div class="myCard">
        <div class="myCardHeader">
            <h1>Заголовок</h1>
        </div>
        <div class="myCardBody">
            <img src="image/uplay.png"/>
        </div>
        <div class="myCardBottom">
            <div class="myCardBottom">
                <a href="https://www.ubisoft.com/ru-ru/" class="myBtn">Перейти</a>
            </div>
        </div>
    </div>
</div>

@code {

}