@page "/Music"
<h3 xmlns="http://www.w3.org/1999/html">Сайты для прослушивания музыки</h3>

<div class="myConteiner">
    <div class="myCard">
        <div class="myCardHeader">
            <h1>Заголовок</h1>
        </div>
        <div class="myCardBody">
            <img src="image/вк музыка.png"/>
        </div>
        <div class="myCardBottom">
            <div class="myCardBottom">
                <a href="https://vk.com/audio" class="myBtn">Перейти</a>
            </div>
        </div>
    </div>
    <div class="myCard">
        <div class="myCardHeader">
            <h1>Заголовок</h1>
        </div>
        <div class="myCardBody">
            <img src="image/спотифай.png"/>
        </div>
        <div class="myCardBottom">
            <div class="myCardBottom">
                <a href="https://www.spotify.com/int/why-not-available/" class="myBtn">Перейти</a>
            </div>
        </div>
    </div>
    <div class="myCard">
        <div class="myCardHeader">
            <h1>Заголовок</h1>
        </div>
        <div class="myCardBody">
            <img src="image/ЯМ.png"/>
        </div>
        <div class="myCardBottom">
            <div class="myCardBottom">
                <a href="https://music.yandex.ru/home" class="myBtn">Перейти</a>
            </div>
        </div>
    </div>
</div>

@code {

}