@page "/Video"
<h3 xmlns="http://www.w3.org/1999/html">Сайты для просмотра видео</h3>

<div class="myConteiner">
    <div class="myCard">
        <div class="myCardHeader">
            <h1>Заголовок</h1>
        </div>
        <div class="myCardBody">
            <img src="image/ютуб.png"/>
        </div>
        <div class="myCardBottom">
            <div class="myCardBottom">
                <a href="https://www.youtube.com" class="myBtn">Перейти</a>
            </div>
        </div>
    </div>
    <div class="myCard">
        <div class="myCardHeader">
            <h1>Заголовок</h1>
        </div>
        <div class="myCardBody">
            <img src="image/rutube.png"/>
        </div>
        <div class="myCardBottom">
            <div class="myCardBottom">
                <a href="https://rutube.ru/" class="myBtn">Перейти</a>
            </div>
        </div>
    </div>
    <div class="myCard">
        <div class="myCardHeader">
            <h1>Заголовок</h1>
        </div>
        <div class="myCardBody">
            <img src="image/дзен.png"/>
        </div>
        <div class="myCardBottom">
            <div class="myCardBottom">
                <a href="https://dzen.ru/video?utm_referrer=www.google.com" class="myBtn">Перейти</a>
            </div>
        </div>
    </div>
</div>

@code {
    
}