@page "/WebShop"
<h3 xmlns="http://www.w3.org/1999/html">Лучщие веб-магазины</h3>

<div class="myConteiner">
    <div class="myCard">
        <div class="myCardHeader">
            <h1>Заголовок</h1>
        </div>
        <div class="myCardBody">
            <img src="image/wb.png"/>
        </div>
        <div class="myCardBottom">
            <div class="myCardBottom">
                <a href="https://www.wildberries.ru/" class="myBtn">Перейти</a>
            </div>
        </div>
    </div>
    <div class="myCard">
        <div class="myCardHeader">
            <h1>Заголовок</h1>
        </div>
        <div class="myCardBody">
            <img src="image/озон.png"/>
        </div>
        <div class="myCardBottom">
            <div class="myCardBottom">
                <a href="https://www.ozon.ru/?__rr=1" class="myBtn">Перейти</a>
            </div>
        </div>
    </div>
    <div class="myCard">
        <div class="myCardHeader">
            <h1>Заголовок</h1>
        </div>
        <div class="myCardBody">
            <img src="image/яндекс маркет.png"/>
        </div>
        <div class="myCardBottom">
            <div class="myCardBottom">
                <a href="https://market.yandex.ru/" class="myBtn">Перейти</a>
            </div>
        </div>
    </div>
</div>

@code {

}